html {
  --slidev-code-font-size: 0.9rem !important;
  --slidev-code-line-height: 1.3rem !important;
  --slidev-code-padding: 1.5rem 1rem !important;
  --wsl-color-dark-100: hsl(200, 100%, 95%);
  --wsl-color-dark-200: #9ca3af;
  --wsl-color-dark-300: #ffffff;
  --prism-background: #f1f5f9 !important;
}
html.dark {
  --prism-background: #0d0d2b !important;
}
.wsl-code-text-sm {
  --slidev-code-font-size: 0.8rem !important;
  --slidev-code-line-height: 1.2rem !important;
}
.wsl-code-text-xs {
  --slidev-code-font-size: 0.7rem !important;
  --slidev-code-line-height: 0.9rem !important;
}
.wsl-code-p-sm {
  --slidev-code-padding: 1rem 0.75rem !important;
  --slidev-code-margin: 0 !important;
}
.wsl-code-h-full {
  .slidev-code-wrapper {
    @apply h-full;
  }
  .slidev-code {
    @apply h-full m-0 grid content-center;
  }
}
.wsl-highlight {
  @apply text-sky-600 font-bold dark:text-yellow-500 dark:font-normal;
}
.wsl-card {
  @apply light:bg-opacity-5 dark:bg-opacity-5 light:bg-sky-800 dark:bg-white rounded-lg p-4;
}
.wsl-text-primary {
  @apply light:text-black dark:text-white font-medium;
}
.wsl-text-secondary {
  @apply light:text-gray-500 dark:text-gray-00 font-thin;
}

#slide-content {
  @apply dark:bg-gradient-to-bl dark:from-[#0d0d2b] dark:to-[#074b7a];
}
.slidev-layout {
  &.cover {
    h1 {
      @apply text-4xl font-800 text-left w-4/5 mx-auto leading-12 py-4;
    }
  }
  &.default {
    ul {
      @apply list-disc text-xl;
    }
  }
  a {
    @apply border-none;
  }
}

.slidev-vclick-target {
  transition: all 1s ease;
}
